---
title: 友情链接
layout: default
---

{% include header.html %}

<div class="g-banner tags-banner {{ site.postPatterns | prepend: 'post-pattern-' }} {{ site.theme-color | prepend: 'bgcolor-' }}" data-theme="{{ site.theme-color }}">
    <h2>友情链接</h2>
</div>

<main class="tags-content">

    <ul class="tags-list">
        <li>
            <a href="http://mxiland.com" class="tag">爱梦岛 - 宅男福利</a>
        </li>
        <li>
            <span class="tag-name" id="tech">「技术」</span>
            <a href="http://windsay.net" class="tag">风雨志 - 开发者资源站</a>
            <a href="http://windsay.net" class="tag">Cocos2d-x 开发者导航</a>
            <a href="http://windsay.net" class="tag">Hencoder - Android开发进阶教程</a>
        </li>
        
    </ul>
</main>
    
{% include footer.html %}